<html>
<head>
<title>{% block title %}{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type='text/css'> 
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">

<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
 
 <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top">
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span></button>

 <a href="{% url 'comics:index' %}" class="navbar-brand">COMICS</a></div>
 <div class="collapse navbar-collapse" id="top">
  <ul class="nav navbar-nav">
 <li><a href="#">About Us</a></li>
 <li><a href="#">Contact Us</a></li>





 </ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="{% url 'comics:addcomics'%}"><span class="glyphicon glyphicon-plus"></span>Add</a></li>

</ul></div>
</div>
</nav>

{% block body %}
{% endblock %}
</body>