<!-- Loads the path to static file -->

{% extends "music/base.html" %}


{% block title %}Sunnn{% endblock %}

{% block body %}


{% if album_all %}
 <strong>Here are all my albums</strong>
 <ul>
   {% for album in album_all %} 
  <div class="container">
  	<div class="row">
   <div class="col-sm-2">
   <li><pre><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a></div>

  <div class="col-sm-2">	
 
 <a href="{% url 'music:album-delete' album.id %}"><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>

</div></div></div>
  </pre> </li>
   {% endfor %}
 </ul>

{% else %}
    <h3>You dont have any albums</h3>
{% endif %} 





{% endblock %}
 

